# React Router support for client-side routing in /brtools subfolder

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /brtools/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ /brtools/index.html [L]
</IfModule>
